@import 'tailwindcss';

@theme {
  --color-catbase: #303446;
  --color-catcrust: #232634;
  --color-catsurface: #414559;
  --color-cattext: #c6d0f5;
  --color-catblue: #8caaee;
  --color-catmauve: #ca9ee6;
  --color-catgreen: #a6d189;
}