@import 'tailwindcss';

@theme {
  --color-catbase: #303446;
  --color-catcrust: #232634;
  --color-catsurface: #414559;
  --color-cattext: #c6d0f5;
  --color-catblue: #8caaee;
  --color-catmauve: #ca9ee6;
  --color-catgreen: #a6d189;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--color-catcrust);
}

body {
  background-color: var(--color-catbase);
}

#__svelte {
  min-height: 100vh;
  background-color: var(--color-catbase);
}